<%- include("header") -%>
<div class="box" id="heading">
  <% if (typeof weekEnd == 'undefined' || weekEnd == 1) { %>
    <h1 style="color: #F5D2D2"><%= listTitle %> ToDo List</h1>
  <% } else { %>
    <h1 style="color: #F6F3E8"><%= listTitle %> ToDo List</h1>
  <% } %>
</div>
<div class="box">
  <% newListItems.forEach(function(item) { %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
        <p><%= item.name %></p>
      </div>
    </form>
  <% }) %>

  <form action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>
<%- include("footer") -%>
