<%- include("header") -%>
<div class="box" id="heading">
  <% if (typeof weekEnd == 'undefined' || weekEnd == 1) { %>
    <h1 style="color: #F5D2D2"><%= listTitle %> ToDo List</h1>
  <% } else { %>
    <h1 style="color: #F6F3E8"><%= listTitle %> ToDo List</h1>
  <% } %>
</div>
<div class="box">
  <% for(let i = 0; i < newListItems.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p><%= newListItems[i].name %></p>
    </div>
  <% } %>

  <form action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>
<%- include("footer") -%>
